.subtitle {
    text-align: center;
}
.author-and-tags {
    display: flex;
    justify-content: space-between;
}
/* .post-category {
    float: right;
} */
.post-detail-btn-container {
    display: flex;
    justify-content: space-between;
}